# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
out/

# Dependency directories
jspm_packages/

# IDE & editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
.parcel-cache/
.next/
.nuxt/
tmp/
temp/
